body {
  color: black
}

.container-fluid {
  padding: 1% 1%;
}

.center {
  text-align: center;
}

.home-left {
  position: fixed;
  overflow-y: hidden;
}

.container-left {
  margin: .5% .5% 2.5% .5%;
  border: 3px solid black;
  overflow: hidden;
}

.date {
  margin-bottom: 0;
  color: #777777;
}

.subheader {
  margin-top: 0;
  color: #666666;
}

.down-arrow {
  margin-top:50%;
  text-align: center;
  font-size:500%;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

.resume {
  position: absolute;
  top: 100vh;
}

.tab {
  text-indent: 10px;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-bottom {
  position: relative;
  /* This section calls the animation we defined above */
  animation: .75s ease-out 0s 1 slideInFromBottom;  
}

.slide-top {
  position: relative;
  /* This section calls the animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromTop;  
}

.slide-left {
  position: relative;
  /* This section calls the animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromRight;  
}

.slide-right {
  position: relative;
  /* This section calls the animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;  
}

#name {
  margin-top: 10%;
  font-family: 'Playfair Display';
  font-weight: bolder;
  font-size: 500%;
}

h2 {
  color: #C66A5F;
}

h4 {
  color: #707070;
}

span {
  color: #707070;
}

img {
  margin-left: -1%;
  max-width: 105%;
  max-height: 105%;
}

pre {
  margin-top: -2.5%;
  border: none;
  background: inherit;
  font: inherit;
  line-height: 10%;
}

/* ARROW ANIMATION */
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
/* ARROW ANIMATION */

/* MENU ANIMATION */
.menu-container {
  display: inline-block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1.25%;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}