body {
  color: black;
}

.container-fluid {
  padding: 1% 1%;
}

.center {
  text-align: center;
}

.home-left {
  position: fixed;
  overflow-y: hidden;
}

.home-right {
  display: flex;
  justify-content: center;
  z-index: -1;
}

.container-left {
  margin: .5% .5% 2.5% .5%;
  overflow: hidden;
  background-color: white;
  z-index: 2;
}

.date {
  margin-bottom: 0;
  color: #777777;
}

.subheader {
  margin-top: 0;
  color: #666666;
}

.down-arrow {
  margin-top:50%;
  text-align: center;
  font-size:500%;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

.resume {
  position: absolute;
  top: 100vh;
  margin-bottom: 5%;
}

.tab {
  text-indent: 10px;
}

.projects {
  display: flex;
  justify-content: center;
}

.project-container {
  margin: .5% .5% 2.5% .5%;
  border: 3px solid black;
  overflow: hidden;
  background-color: white;
  z-index: 2;
  height: 75%;
  width: 75%;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.project-header {
  margin-top: 5%;
}

.header {
  font-family: 'Playfair Display';
  font-weight: bolder;
  font-size: 500%;
}

.img-thumbnail {
  border: none;
}

.ratio-4-3{
  width:75%;
  position:relative;
  background:url() 50% 50% no-repeat;
  background-size:cover;
  background-clip:content-box;
}
.ratio-4-3:before{
    display:block;
    content:"";
    padding-top:75%;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact-row {
  display: flex;
  justify-content: flex-start;
  margin-top: 10%;
}

#name {
  margin-top: 10%;
}

i.fa {
  font-size: 250%;
  margin-right: 20%;
}

h2.contact {
  margin-top: 0;
}

h2 {
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 250%;
  color: #C66A5F;
}

h4 {
  color: #707070;
}

span {
  color: #707070;
}

img {
  margin-left: -1%;
  max-width: 105%;
  max-height: 105%;
}

.container img {
  max-width: auto;
  max-height: 100%;
}

li {
  font-size: 120%;
}

input:focus {
  outline:none !important;
}

span.closebtn:focus {
  transition: 1000ms;
  color: #a0a0a0;;
  outline:none !important;
}

a {
  width: 100%;
  color: black;
  display: inherit;
}

a h2 {
  color: black;
}

a:focus, a:hover, a:focus h2, a:hover h2 {
  transition: 1000ms;
  color: #C66A5F;
  text-decoration: none;
  outline: none !important;
}

a.button {
  color: #4e4e4e;
  font-size: 200%;
  width: 25%;
  background: none;
  border: none;
  border-radius: 3px;
  display: block;
  padding: 1%;
  outline: none !important;
  cursor: pointer;
  text-decoration: none;
  color: initial;
}

a.button:focus, a.button:hover {
  transition: 1000ms;
  color: #a0a0a0;
  background-color: black;
  text-decoration: none;
}

/* ARROW ANIMATION */
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
/* ARROW ANIMATION */

/* HOMEPAGE ANIMATION */
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-bottom {
  position: relative;
  /* This section calls the animation we defined above */
  animation: .75s ease-out 0s 1 slideInFromBottom;  
}

.slide-top {
  position: relative;
  /* This section calls the animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromTop;  
}

.slide-left {
  position: relative;
  /* This section calls the animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromRight;  
}

.slide-right {
  position: relative;
  /* This section calls the animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;  
}
/* HOMEPAGE ANIMATION */

/* OVERLAY ANIMATION */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: white;
  overflow: hidden;
  transition: 0.5s;
}

.show {
  display: block;
}

.overlay-contents {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay .closebtn {
  cursor: pointer;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 60px;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
}
/* OVERLAY ANIMATION */

/* MENU */
.menu-buttons {
  margin-left: 37.5%;
  margin-bottom: .25%;
}

a.hire {
  color: #4e4e4e;
}

a.hire:hover {
  transition: 1000ms;
  color: black;
  text-decoration: overline underline;
  background: none;
}

a.hire:focus {
  transition: 1000ms;
  text-decoration: overline underline;
  color: black;
  background: none;
}
/* MENU */

/* MENU BUTTON ANIMATION */
.menu-container {
  display: inline-block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1.25%;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.8s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* MENU BUTTON ANIMATION */